<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="tpProposerMapper">


<resultMap type="tpProposer" id="tpProposer-resultmap">
		<result property="tpfId" column="tppId"/>
		<result property="account" column="account"/>
		<result property="proposerType" column="proposerType"/>
		<result property="certification" column="certification"/>
		<result property="residentRegistrationFirstNum" column="residentRegistrationFirstNum"/>
		<result property="residentRegistrationLastNum" column="residentRegistrationLastNum"/>
		<result property="corporateRegistrationNumber" column="corporateRegistrationNumber"/>
		<result property= "bankListCategory" column = "bankListCategory"/>
	</resultMap>

	<!-- 프로젝트 추가 쿼리문 -->
	<insert id = "insertTpProposer" parameterType = "tpProposer">
		insert into tpProposer values (#{tpfId}, #{account}, #{proposerType}, #{certification}, 
			 #{residentRegistrationFirstNum}, #{residentRegistrationLastNum}, #{corporateRegistrationNumber}, #{bankListCategory})
	</insert>

		
		<!-- 000000000000000000000수정 중00000000000000000000000  -->
   <update id="updateTpfQualFy" parameterType="String">
      UPDATE TPFUNDER SET TPFQUALIFYTPPROPOSER='T' WHERE TPFID=#{writer}
   </update>
   
   
   <update id = "updateInfo" parameterType = "tpProposer">
		update tpProposer 
		set account=#{account}, proposerType=#{proposerType}, certification=#{certification}, 
			 residentRegistrationFirstNum=#{residentRegistrationFirstNum}, residentRegistrationLastNum=#{residentRegistrationLastNum}, 
			 corporateRegistrationNumber=#{corporateRegistrationNumber}, bankListCategory = #{bankListCategory}
		where tpfId=#{tpfId} 
	</update>
	 

	 <select id="selectTpProposerById" parameterType="string" resultMap="tpProposer-resultmap">
			select * from tpProposer where tpfId = #{tpfId}
	 </select>
	
	 
</mapper>

