<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="tpProjectCategoryMapper">

  <resultMap type="tpProjectCategory" id="category-result">
      <id property="tppCategory" column="tppCategory"/>
      <result property="tppCategoryName" column="tppCategoryName"/>
   </resultMap>

<select id = "selectAllTpProjectCategory" resultMap="category-result">
select * from tpProjectCategory
</select>
	
<delete id="deletTpProjectCategoryByCategory" parameterType = "String" >
delete from tpProjectCategory where tppCategoryName = #{tppCategoryName}
</delete>

<!-- 카테고리추가 -->
<insert id="insertTpProjectCategoryByCategory" parameterType="String">
	insert into tpProjectCategory values(#{tppCategory},
	#{tppCategoryName})
</insert>

<update id="updateTpProjectCategoryByCategory" parameterType="map">
	UPDATE Banklist SET bankKr=#{bankkr}, bankEr=#{bankEr}, code=#{code} 
	WHERE bankKr=#{bankKr}
</update>

	 
</mapper>













































