<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mapper">


	<resultMap type="tpProject" id="tpProject-resultmap">
		<result property="tppId" column="tppId"/>
		<result property="tppTitle" column="tppTitle"/>
		<result property="tppProjectContent" column="tppProjectContent"/>
		<result property="tppWriter" column="tppWriter"/>
		<result property="tppWriteDate" column="tppWriteDate"/>
		<result property="tppTotalAmount" column="tppTotalAmount"/>
		<result property="tppTargetAmount" column="tppTargetAmount"/>
		<result property="tppTotalAmount" column="tppTotalAmount"/>
		<result property="tppFundingStartDate" column="tppFundingStartDate"/>
		<result property="tppFundingLastDate" column="tppFundingLastDate"/>
		<result property="tppFunderNum" column="tppFunderNum"/>
		<result property="tppState" column="tppState"/>
		<result property="tppAdminMessage" column="tppAdminMessage"/>
	</resultMap>
	


	<resultMap type="tpProject" id="tpProject-resultmap2">
		<result property="tppId" column="tppId"/>
		<result property="tppTitle" column="tppTitle"/>
		<result property="tppWriter" column="tppWriter"/>
		<result property="tppFundingLastDate" column="tppFundingLastDate"/>
		<result property="tppTargetAmount" column="tppTargetAmount"/>
	</resultMap>

	<!-- 프로젝트 추가 쿼리문 -->
	<insert id = "insertTpProject" parameterType = "tpProject">
		insert into tpproject values (#{tppId}, #{tppTitle}, #{tppProjectContent}, #{tppWriter}, 
												  #{tppWriteDate}, #{tppTotalAmount}, #{tppTargetAmount}, 
												  #{tppFundingStartDate}, #{tppFundingLastDate}, #{tppFunderNum},
		 										  #{tppState}, #{tppAdminMessage})
	</insert>

		
	<!-- 전체고객조회 pading처리 select문 -->
	 <select id="selectTpProjectPaging" parameterType="int" resultMap="tpProject-resultmap2">
	 	select tppId, tppTitle, tppWriter, tppFundingLastDate, tppTotalAmount
	 		from(
	 			select ceil(rownum/#{contentPerPage}) page, tppId, tppTitle, tppWriter, tppFundingLastDate, tppTotalAmount
	 			from(
	 				select tppId, tppTitle, tppWriter, tppFundingLastDate, tppTotalAmount
	 				from tpproject
	 				order by tppFundingLastDate
	 			)
	 		)
	 	where page = #{pageNo}
	 </select>
	 
	 <!-- 총 프로젝트수 조회 -->
	<select id="selectCountProject" resultType="int">
		select count(tppId) from tpproject 
	</select>
	
	<select id = "selectTpProjectById" parameterType = "string" resultMap ="tpProject-resultmap">
		select tppId, tppTitle, tppProjectContent, tppWriter, tppWriteDate, tppTotalAmount,
				 tppTargetAmount, tppFundingStartDate, tppFundingLastDate, 
				 tppFunderNum, tppState, tppAdminMessage from tpproject where tppId = #{tppId}
	</select>
	
	 
	 
	 
	<update id="adminProjectUpdate" parameterType= "tpProject">
		UPDATE tpproject SET tppId=#{tppId}, tppState=#{tppState},
							  tppAdminMessage=#{tppAdminMessage}
		WHERE tppId=#{tppId}
	</update>
	 
</mapper>













































