<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="tpProposerMapper">


<resultMap type="tpProposer" id="tpProposer-resultmap">
		<result property="tpfId" column="tppId"/>
		<result property="account" column="account"/>
		<result property="proposerType" column="proposerType"/>
		<result property="certification" column="certification"/>
		<result property="residentRegistrationFirstNum" column="residentRegistrationFirstNum"/>
		<result property="residentRegistrationLastNum" column="residentRegistrationLastNum"/>
		<result property="corporateRegistrationNumber" column="corporateRegistrationNumber"/>
		
	</resultMap>

	<!-- 프로젝트 추가 쿼리문 -->
	<insert id = "insertTpProposer" parameterType = "tpProposer">
		insert into tpProposer values (#{tpfId}, #{account}, #{proposerType}, #{certification}, 
			 #{residentRegistrationFirstNum}, #{residentRegistrationLastNum}, #{corporateRegistrationNumber})
	</insert>

		
	
	 
</mapper>













































